[Unit]
Description=My service
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
ExecStart=/usr/bin/python3 -u prom_cli.py
WorkingDirectory=/home/pi/readtemps
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
